body {
    background-color: aliceblue;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    min-height: 100%;
    margin: 10px auto;

}
.logo {
    min-width: 200px;
    min-height: 200px;
    padding: 15px;
 }
 
 .logo img {
    border-radius: 1000px;
    max-width: 300px;
    max-height: 300px;
    padding-top: 15px;
 }

 nav .nav {
     display: flex;
     flex-direction:row;
     justify-content: space-around;
     align-items: center;
     list-style-type: none;
 }

 .nav a {
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    color:#2F73B6;
 }

 .nav a:after {
    display: block;
    content: ""; 
    height: 3px; 
    width: 0%; 
    background-color: #225384; 
    transition: width 0.2s ease-in-out; 
    }

.nav a:hover:after,
.nav a:focus:after 
    {
    width: 100%;
    }

.main {
    display: flex;
    flex-direction: column;

    
}
h2 {
    display: flex;
    flex-direction: column;
    align-items:center; 
}


#contacts {
    width: 100%;
    background-color:#837d7d;
    max-width: 1200px;
    min-height: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items:center; 
    border-radius: 100px;
}
.main .ul_contacts {
    list-style-type: none;
}

.main .ul_contacts_2 {
    list-style-type: none;
}

#about-me {
    width: 100%;
    max-width: 1200px;
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items:center; 
}
#skills {
    width: 100%;
    background-color:#be7f7f;
    max-width: 1200px;
    min-height: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 100px;
}
#code {
    width: 100%;
    max-width: 1200px;
    min-height: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items:center;
}

#education {
    width: 100%;
    background-color:#ef9696;
    max-width: 1200px;
    min-height: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 100px;
}

#language {
    width: 100%;
    max-width: 1200px;
    min-height: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items:center;
}

footer {
    width: 100%;
    background-color:#908a8a;
    max-width: 1200px;
    min-height: 100%;
    margin: 10px auto;
    border-radius: 100px;

}
.rsschool img {
    height: 50px;
 }
 .github img {
    max-height: 50px;
 }
footer .footer-container {
    width: 100%;
    max-width: 1200px;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}




